@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

body {
    width: 100%;
    background-color: #000000;
}

.imagemAlien {
     width: 15rem;
}

.apresentacao {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.apresentacao__representacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
}

.apresentacao__representacao__frase {
    color: #FFFFFF;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;

}

.apresentacao__representacao__janela{
    position: relative;
}

.apresentacao__representacao__marte {
    width: 17rem;
    position: absolute;
    bottom: 13rem;
}

.apresentacao__conteudo {
    background-image: linear-gradient(to right, #696969, #363636);
    border-radius: 10px;
    width: 53.12rem;
    height: 40.62rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 3.12rem;

}

.apresentacao__conteudo__imagem {
    width: 15.62rem;
    position: absolute;
    bottom: 470px;
    left: -60px;    
}

.apresentacao__conteudo__titulo {
    padding-top: 2%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;;
    font-size: 6.25rem;
    color: #B22222;
}

.apresentacao__conteudo__paragrafos {
    padding: 5% 5% 5% 5%;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1.25rem;
}